h1 {
	font-size: 53px;
	letter-spacing: 17px;
    text-align: center;
    color: white;
    text-shadow:
		-1.3px -1.3px 0 black,
		1.3px -1.3px 0 black,
		-1.3px 1.3px 0 black,
        1.3px 1.3px 0 black;
    
}

h4 {
	font-size: 35px;
	letter-spacing: 20px;
    text-align: center;
    color: white;
    text-shadow:
		-1.3px -1.3px 0 black,
		1.3px -1.3px 0 black,
		-1.3px 1.3px 0 black,
        1.3px 1.3px 0 black;
    
}

a {
    background: transparent;
    color: white;
    text-shadow:
		-1.3px -1.3px 0 black,
		1.3px -1.3px 0 black,
		-1.3px 1.3px 0 black,
        1.3px 1.3px 0 black;
    border: 2px solid black;
    text-decoration: none;
    
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}

a:hover, a:active {
    color: white;
    text-shadow:
		-1.3px -1.3px 0 rgb(10, 100, 30),
		1.3px -1.3px rgb(10, 100, 30),
		-1.3px 1.3px rgb(10, 100, 30),
        1.3px 1.3px rgb(10, 100, 30);
    border: 2px solid rgb(10, 100, 30);
    text-decoration: none;
}


body {
    font-size: 20px;
    background-image: url("http://funkyimg.com/i/2MoPB.png");

    text-align: justify;
    color: black;
    text-shadow:
		-1.3px -1.3px 0 rgb(255, 255, 255,.4),
		1.3px -1.3px 0 rgb(255,255,255,.4),
		-1.3px 1.3px 0 rgb(255,255,255,.4),
		1.3px 1.3px 0 rgb(255,255,255,.4);
    
    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    
	word-spacing: 3.2px;
	letter-spacing: 2px;
	
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
}