h1 {
	font-size: 85px;
	letter-spacing: 20px;
    text-align: center;
    
}

a {
    background: transparent;
    color: white;
    text-shadow:
		-1.3px -1.3px 0 black,
		1.3px -1.3px 0 black,
		-1.3px 1.3px 0 black,
        1.3px 1.3px 0 black;
    border: 2px solid rgb(10, 90, 25);
    text-decoration: none;
    
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
}

a:hover, a:active {
        color: white;
    text-shadow:
		-1.3px -1.3px 0 rgb(10, 100, 30),
		1.3px -1.3px rgb(10, 100, 30),
		-1.3px 1.3px rgb(10, 100, 30),
		1.3px 1.3px rgb(10, 100, 30);
    text-decoration: none;
}


body {
	font-size: 40px;
	background-image: url("http://funkyimg.com/i/2MoPB.png");
    text-align: justify;
    text-shadow:
		-1.3px -1.3px 0 black,
		1.3px -1.3px 0 black,
		-1.3px 1.3px 0 black,
		1.3px 1.3px 0 black;
    
    padding-top: 80px;
    padding-right: 80px;
    padding-bottom: 80px;
    padding-left: 80px;
    
	word-spacing: 3.8px;
	letter-spacing: 2px;
	color: white;
    background-size: cover;
    
    background-repeat: no-repeat;
    background-position: center top;
}